<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <connectionStrings>
    <add name="StudentRegistrationDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=SSPI;Initial Catalog=StudentRegistration" />
    <add name="StudentRegistrationApp.Properties.Settings.StudentRegistrationConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=StudentRegistration;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>